################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoBuyer/.vs/AutoBuyer/v16
/AutoBuyer/AutoBuyer.App/bin/Debug
/AutoBuyer/AutoBuyer.App/obj/Debug
/AutoBuyer/AutoBuyer.Core/obj/Debug
/AutoBuyer/AutoBuyer.Core/bin/Debug
/AutoBuyer/AutoBuyer.Tests/obj
/AutoBuyer/AutoBuyer.Tests/bin
/AutoBuyer/AutoBuyer.Core/obj/Release
/AutoBuyer/AutoBuyer.Core/bin/Release
/AutoBuyer/AutoBuyer.App/obj/Release
/AutoBuyer/AutoBuyer.App/bin/Release
/AutoBuyer/AutoBuyer.DbBuilder/bin/Debug
/AutoBuyer/AutoBuyer.DbBuilder/bin/Release
/AutoBuyer/AutoBuyer.DbBuilder/obj
