<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="WebAppUrl" value="https://www.easports.com/fifa/ultimate-team/web-app/"/>
    <add key="Login-X" value="1620"/>
    <add key="Login-Y" value="663"/>
    <add key="TransfersNavigate-X" value="997"/>
    <add key="TransfersNavigate-Y" value="385"/>
    <add key="SearchTransferMarket-X" value="1457"/>
    <add key="SearchTransferMarket-Y" value="349"/>
    <add key="TxtPlayerName-X" value="1154"/>
    <add key="TxtPlayerName-Y" value="296"/>
    <add key="TxtPlayerNameDrop-X" value="1168"/>
    <add key="TxtPlayerNameDrop-Y" value="377"/>
    <add key="TxtMaxPrice-X" value="1561"/>
    <add key="TxtMaxPrice-Y" value="642"/>
    <add key="Search-X" value="1694"/>
    <add key="Search-Y" value="1008"/>
    <add key="Increase-X" value="1453"/>
    <add key="Increase-Y" value="639"/>
    <add key="Decrease-X" value="1117"/>
    <add key="Decrease-Y" value="640"/>
    <add key="Buy-X" value="1770"/>
    <add key="Buy-Y" value="610"/>
    <add key="Confirm-X" value="1490"/>
    <add key="Confirm-Y" value="641"/>
    <add key="SendTransfer-X" value="1720"/>
    <add key="SendTransfer-Y" value="669"/>
    <add key="Back-X" value="1062"/>
    <add key="Back-Y" value="168"/>
    <add key="IncreaseConsumable-X" value="1452"/>
    <add key="IncreaseConsumable-Y" value="531"/>
    <add key="DecreaseConsumable-X" value="1120"/>
    <add key="DecreaseConsumable-Y" value="526"/>
    <add key="ListTransferButton-X" value="1763"/>
    <add key="ListTransferButton-Y" value="515"/>
    <add key="TxtListMin-X" value="1734"/>
    <add key="TxtListMin-Y" value="618"/>
    <add key="TxtListMax-X" value="1731"/>
    <add key="TxtListMax-Y" value="673"/>
    <add key="ListItem-X" value="1762"/>
    <add key="ListItem-Y" value="772"/>
    <add key="OutbidMessageBox-X" value="1432"/>
    <!--No longer used-->
    <add key="OutbidMessageBox-Y" value="625"/>
    <!--No longer used-->
    <add key="SearchingMarketWaitTime" value="2500"/>
    <!--This is the number of milliseconds to wait while searching for the player on market. Slower the connection the higher the number.-->
    <add key="CaptchaMonitorWaitTime" value="20000"/>
    <!--This is the number of milliseconds to wait between looking for the captcha -->
    <add key="TrainingSetRoot" value="D:\Fifa Training\19\"/>
    <add key="pFile" value="D:\Fifa Training\20\p.txt"/>
  </appSettings>
</configuration>
