<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="WebAppUrl" value="https://www.easports.com/fifa/ultimate-team/web-app/"/>
    <add key="OriginLogin-X" value="1233"/>
    <add key="OriginLogin-Y" value="691"/>
    <add key="Login-X" value="1649"/>
    <add key="Login-Y" value="627"/>
    <add key="TransfersNavigate-X" value="1000"/>
    <add key="TransfersNavigate-Y" value="387"/>
    <add key="SearchTransferMarket-X" value="1459"/>
    <add key="SearchTransferMarket-Y" value="355"/>
    <add key="TxtPlayerName-X" value="1235"/>
    <add key="TxtPlayerName-Y" value="294"/>
    <add key="TxtPlayerNameDrop-X" value="1283"/>
    <add key="TxtPlayerNameDrop-Y" value="376"/>
    <add key="TxtMaxPrice-X" value="1568"/>
    <add key="TxtMaxPrice-Y" value="689"/>
    <add key="Search-X" value="1688"/>
    <add key="Search-Y" value="1006"/>
    <add key="Increase-X" value="1457"/>
    <add key="Increase-Y" value="689"/>
    <add key="Decrease-X" value="1118"/>
    <add key="Decrease-Y" value="689"/>
    <add key="Buy-X" value="1774"/>
    <add key="Buy-Y" value="619"/>
    <add key="Confirm-X" value="1439"/>
    <add key="Confirm-Y" value="618"/>
    <add key="SendTransfer-X" value="1727"/>
    <add key="SendTransfer-Y" value="658"/>
    <add key="Back-X" value="1065"/>
    <add key="Back-Y" value="174"/>
    <add key="IncreaseConsumable-X" value="1452"/>
    <add key="IncreaseConsumable-Y" value="531"/>
    <add key="DecreaseConsumable-X" value="1120"/>
    <add key="DecreaseConsumable-Y" value="526"/>
    <add key="ListTransferButton-X" value="1769"/>
    <add key="ListTransferButton-Y" value="519"/>
    <add key="TxtListMin-X" value="1792"/>
    <add key="TxtListMin-Y" value="613"/>
    <add key="TxtListMax-X" value="1758"/>
    <add key="TxtListMax-Y" value="674"/>
    <add key="ListItem-X" value="1771"/>
    <add key="ListItem-Y" value="772"/>
    <add key="EaLogIn-X" value="1249"/>
    <add key="EaLogIn-Y" value="689"/>
    <!--<add key="OutbidMessageBox-X" value="1432"/> --><!--No longer used--><!--
    <add key="OutbidMessageBox-Y" value="625"/> --><!--No longer used-->
    <add key="SearchingMarketWaitTime" value="2200"/> <!--This is the number of milliseconds to wait while searching for the player on market. Slower the connection the higher the number.-->
    <add key="CaptchaMonitorWaitTime" value="40000"/> <!--This is the number of milliseconds to wait between looking for the captcha -->
    <add key="baseApiUrl" value="https://autobuyer-api.azurewebsites.net/"/>
    <add key="purchaseLoopIterations" value="12"/>
    <add key="purchaseLoopMsBetweenClicks" value="10"/>
  </appSettings>
</configuration>
